{% extends 'layout.html' %}

{% block content %}

<section class="text-gray-600 body-font ">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col" style=" padding-bottom: 10rem;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-20 h-20 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
            <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
          </svg>
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Django coustamized Real EState Website</h1>
        <p class="mb-8 leading-relaxed"></p>
        <div class="flex justify-center">
          {% if not request.user.is_authenticated %}
          <a href="{% url 'login' %}"><button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Log In</button></a>
          <!--<button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Button</button>-->
          {% else %}
          <a href="{% url 'listing' %}"><button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Find now</button></a>
          {% endif %}
        </div>
      </div>
    </div>
  </section>


{%endblock content%}